:root{
    --color-1: #0d074e;
    --text-color: #f0f0f0;
    --accent-color: #181d1ac5;
}

* {
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--color-1);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.links-container {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: row;
    align-items: center;
    margin-left: 10px;
}

.home {
    position: absolute;
    left: 0;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 28px;
    font-weight: 600;
}

nav {
    display: flex;
}

nav a {
    height: 100%;
    font-size: 18   px;
    padding: 20px; 
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
    transition: background-color 0.5s;
}

nav a:hover {
    color: #0d074e;
    background-color: white;
    font-weight: bold;
}

nav svg {
    fill: var(--text-color);
}

#sidebar-active,
.open-sidebar-button,
.close-sidebar-button {
    display: none;
    z-index: 0;
}

@media (max-width: 500px) {
    .links-container {
        flex-direction: column;
        align-items: flex-start;
        right: -100%;
        position: fixed;
        top: 0; 
        opacity: 1;
        z-index: 50;
        width: 60%;
        background-color: var(--color-1);
        box-shadow: -5px 0 5px rgba(0, 0, 0, 0.25);
        transition: 0.7s ease-out;
    }

    nav a{
        box-sizing: border-box;
        height: auto;
        padding: 20px 30px;
        width: 100%;
        justify-content: flex-start;
    }

    .open-sidebar-button,
    .close-sidebar-button {
        display: block;
        padding: 20px;
    }

    #sidebar-active:checked ~ .links-container {
        display: flex;
        right: 0;
    }

    #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
    }
}

#home-link {
    text-decoration: none;
    color: white;
}